.grid {
  width: 606px;
  height: 606px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.square {
  border: 1px solid red;
  height: 200px;
  width: 200px;
}

.mole {
  background-image: url("./images/mole.png");
  background-color: green;
}
