.grid {
  width: 606px;
  height: 606px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.square {
  border: 1px solid red;
  height: 200px;
  width: 200px;
}

.mole {
  background-image: url("./images/mole.png");
  height: 200px;
  width: 200px;
  background-size: cover;
}

body {
  background-color: black;
}

.container {
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2#score {
  margin-left: 20px;
}

.container h2 {
  margin-left: 40px;
}

h2#time-left {
  margin-left: 20px;
}
